/* src/components/ChatWindow.css */

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 450px;
  height: 550px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .chat-window {
    width: 300px;
    height: 400px;
    bottom: 10px;
    right: 10px;
  }

  .chat-footer input, .chat-footer button {
    font-size: 14px;
    padding: 10px;
  }
}

.chat-header {
  background-color: #007bff;
  color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  font-size: 23px;
}

.chat-header .close-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
  font-weight: bolder;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  
}

.chat-footer input {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 30px;
  margin-right: 10px;
  background-color: #f1f1f1;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}

.chat-footer button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
  font-weight: bolder;
}

.chat-footer button:hover {
  background-color: #0056b3;
}

.placeholder-text {
  color: #999;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.message {
  margin-bottom: 15px;
  display: flex;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
}

.message .message-content {
  max-width: 70%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.message.user .message-content {
  background-color: #007bff;
  color: #ffffff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.message.bot .message-content {
  background-color: #e4e6eb;
  color: #000000;
  border-top-left-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-window.closed {
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}
